body { font-family: Courier New; font-size: 11px; margin: 0px; padding: 0px; }

#playground { background: #7f006e; border: 1px solid #000; height: 512px; width: 512px; }

#actor1 { border: 1px solid blue; z-index: 9999; }
#actor2 { border: 1px solid red; }
#actor3 { border: 1px solid red; }
#actor4 { border: 1px solid red; }