body {
    font-family: Courier New; 
    font-size: 11px; 
    margin: 0px; 
    padding: 0px;
}

#playground { 
    background: #000;
    cursor: url('assets/cursors/arrow.cur'), default;
    height: 512px; 
    width: 512px; 
}

.human { cursor: url('assets/cursors/hand.cur'), pointer; }
