body {
    font-family: Courier New; 
    font-size: 11px; 
    margin: 0px; 
    padding: 0px;
}

#playground { 
    background: #000; 
    border: 1px solid #000;
    cursor: url('sprites/arrow.cur'), default;
    height: 512px; 
    width: 512px; 
}

.human { cursor: url('sprites/hand.cur'), pointer; }
